<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Student</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Create a New Student</h1>
<form action="/create_student" method="post">
    <table>
        <tr>
            <td>First Name:</td>
            <td><input type="text" th:text="${firstName}" name="firstName"/></td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td><input type="text" th:text="${lastName}" name="lastName"/></td>
        </tr>
        <tr>
            <td>Grade:</td>
            <td>
                <select name="grade">
                    <option th:each="grade : ${grades}"
                            th:value="${grade}"
                            th:text="${grade}">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <button>Submit</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>